
.D{
  background-color:rgb(51, 197, 255);
  width: 1200px;
  text-align: center;
  border-radius: 1em;
  padding: 0em;
  margin: 1px;
  width: 1460px;
}
.d{

 background-color: white;
  padding: 6em;
  margin-left: 800px;
  margin: 100px;
  margin-top: 50px;
  margin-bottom: 1px;
}
#scroller{

  width: 900px;
  height: 500px;
  overflow-y: scroll;
  scrollbar-color:black lightblue;
}
#contact{
  color: rgb(32, 173, 228);
}