
  
 
  /* text-align: center;
  border-radius: 1em;
  padding: 3em;
  margin: 1px;
 
 width: 1250px;
 */


 .all{
  background-color: aqua;
  text-align: center;
  border-radius: 1em;
  padding: 0em;
  margin: 1px;
  width: 1460px;
  
 }
 


.home{
 
  background-color: white;
  padding: 6em;
  margin-left: 1500px;
  margin-right: 1500px;
  margin: 100px;
  margin-top: 1px;
  margin-bottom: 1px;

  
}
.aa{
  color:white;
  background-color: white;
  text-align: center;
  /* background-image: url(/Images/img1.png); */
  margin-bottom: 20px;
  background-image: url(/Images/vck.jpg);
  height: 200px;
  width: 880px;
 
}






img{
  width: 300px;
  height: 300px;
}

#scroller{

  width: 900px;
  height: 500px;
  overflow-y: scroll;
  scrollbar-color:black lightblue;
}
.button{
  background-color: green;
  color: white;
  text-align: center;
  padding: 0.5rem 1rem;
  text-decoration: none;

}
button{
  background-color: green;
}
 