.aa{
   background-image: url(\Images\img1.png);
   color: white;
   background-color: white;
   text-align: center;
   border-radius: 2em;
}
  
 
  /* text-align: center;
  border-radius: 1em;
  padding: 3em;
  margin: 1px;
 
 width: 1250px;
 */


 .A{
  background-color: aqua;
  text-align: center;
  border-radius: 1em;
  padding: 3em;
  margin: 1px;
  width: 1000px;
  margin-left:20px;
  margin-right: 20px;
 }
 
.home{
  background-color: #ffffff;
  text-align: center;
}
.aa{
  background-image: url(/Images/img1.png)
}






img{
  width: 300px;
  height: 300px;
}

div #scroller{

  width: 900px;
  height: 500px;
  overflow-y: scroll;
  scrollbar-color:black lightblue;
}
.button{
  background-color: green;
  color: white;
  text-align: center;
}
 